<!--  content_for :head do %> -->
<!--   <h1> TESTE </h1> -->
<!--  end %> -->
<!--  content_for :head do %> -->
<!--     styleesheet 'css/blue.css' %> -->
<!--  end %> -->

<h1>Editing admin_funcionario</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_funcionario %> |
<%= link_to 'Back', admin_funcionarios_path %>
