<%= content_tag_for(:li, compromisso) do %>
  <p class="content"><%= compromisso.nome %></p>
  <span class="posted_at">(<%= link_to 'Delete', [:admin, compromisso], :confirm => 'Are you sure?', :method => :delete %>)</span>
<% end %>