<div class="">
		<h1>Ordem de Compromisso</h1>
		 <%= link_to "Novo Compromissos", new_admin_compromisso_path, id: "new_link", :class=> "btn", remote: true %> 
		 <p></p>
		</div> <br>
 <div class="">
	<div class="span6">
		<h2>Compromissos Incompletos</h2>
		<div class="compromisso form-inline well " id="incomplete_compromissos">
			<%= render @incomplete_compromissos.reverse %>
		</div>
		<span class='paginate'><%= page_navigation_links(@incomplete_compromissos)%></span>
	</div>
	<div class="span6">
		<h2 class="panel">Compromissos Completaa</h2>
		<div class="compromisso form-inline well" id="complete_compromissos">
			  <%= render @complete_compromissos.reverse %>
		</div>

	</div>
</div>

<!-- <div id="post_form">< render :partial => 'peca' %></div> -->
<!-- 
<h1>Posts</h1>
 <div id="dialog-modal" title="Basic modal dialog">
<div id="post_form">
   render 'formpeca' %>
</div>
 </div>
<ul id="posts">
   render :partial => @pecas.reverse %>
</ul>
 --> 



