<%= content_tag_for(:li, servico) do %>
  <p class="content"><%= servico.nome %></p>
  <span class="posted_at">(<%= link_to 'Delete', [:admin, servico], :confirm => 'Are you sure?', :method => :delete %>)</span>
<% end %>