/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


lib/jquery-ui/css/Aristo/Aristo
lib/jBreadcrumbs/css/BreadCrumb
lib/sticky/sticky
splashy/splashy
lib/datepicker/datepicker
lib/tag_handler/css/jquery.taghandler
lib/uniform/Aristo/uniform.aristo
lib/multiselect/css/multi-select
lib/chosen/chosen
lib/plupload/js/jquery.plupload.queue/css/plupload-gebo
lib/colorbox/colorbox
lib/colorpicker/css/colorpicker

*/


             

#cliente_dataNascimento_3i{
	width:50px
}
#cliente_dataNascimento_2i{
	width:80px
}
#cliente_dataNascimento_1i{
	width:80px
}
