    <div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li><%= link_to  :controller => "produtos", :action => "index", :id => @produtos do %>
                <i class="icon-home"></i> Todos Produtos 
            <% end -%>

        </li>
    </ul>
</div>  
<h3 class="heading">Novo Produto</h3>

<%= render 'form' %>

<%= link_to 'Back', admin_produtos_path %>
