  <nav>
    <div id="jCrumbs" class="breadCrumb module">
        <ul>
            <li>
                <a href="#"><i class="icon-home"></i></a>
            </li>
            <li>
                <%= link_to "Produtos", admin_produtos_path %>
            </li>
              <li>
                <%= link_to "Novo"%>
            </li>
        </ul>
    </div>
  </nav>
<h3 class="heading">Novo Produto</h3>

<%= render 'form' %>

<%= link_to 'Back', admin_produtos_path %>
