<div class="controls controls-row" style="margin-bottom:20px;">
  <%= f.text_field :email, :class => 'text_field span3', :placeholder => "e-mail" %>
  <%= f.text_field :contato, :class => 'text_field span2', :placeholder => "contato" %>
  
  <%= link_to_remove_fields "remove", f %>
</div>
