h2 {
  font-size: 16px;
  margin-top: 20px;
}
.label-important,.badge-error {background: #C62626}
.label-success,.badge-success {background: #70A415}
.label-warning,.badge-warning {background: #F5AA1A}
.label-info,.badge-info {background: #058DC7}
.formulario {
margin-bottom: 12px;
padding-bottom: 12px;
border-bottom: 1px dashed #dcdcdc;}

#incomplete_servicos form {
  margin: 5px 0;
  @extend .formulario;
}

#complete_servicos form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  @extend .formulario;

  label { text-decoration: line-through; }
  .label-success{
    @extend .label-success;
  }
}


.edit_servico {
  a {
    font-size: 12px;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
