<%= simple_form_for [:admin, @chamado], :html => { :class => 'form-horizontal inline' } do |f| %>
<div id="status_chamado_show">
<div class="pane">
      <!-- f.input :finalizaSolicitacao,:as => :boolean, :input_html => {:class => 'uni_style', :id=>"habi", :onClick=>"HabiDsabi()"}, :label_html => {:class=>"inline"}, :label=> "Finalizar Chamado" %> -->
      <%= f.input :status, :priority => [ "Aguardando Atendimento" ], :collection => [ "Aguardando Atendimento", "Cancelado", "Finalizado"], label: "Status:", prompt: "Tipo de Status", input_html: { :class => "chzn_a"} if current_user.is_role?(:administrador) %>
      <% if  @funcionario == nil %>
      <label class="select optional control-label">Funcionário</label> <br><br>
      <%= f.select( :funcionario_id, Funcionario.all.collect {|p| [ p.user.name, p.id ] }, { :include_blank => true }, :class=>"chzn_a", :prompt => "Escolha o Funcionario Responsável", :label => "Funcionario") if current_user.is_role?(:administrador) %> <br>
      <br>
      <% end -%>
    <%= f.button :submit, input_html: { class: "btn"}, :confirm => 'Você tem certeza ?' %>
</div>
</div>

<div class="span12">

    <div class="span6">


    </div>
  <div class="span3"></div>
</div>
<% end -%>

<script>
        function HabiDsabi(){
  if(document.getElementById('habi').checked == true){
         document.getElementById('envia').disabled = ""
  }
  if(document.getElementById('habi').checked == false){
         document.getElementById('envia').disabled = "disabled"
  }
        }
</script>