
<% if @chamado.present? and current_user.is_role?(:cliente)  %>
<div class="span5 well">
	<h4 class="heading inline">Meus Chamados:</h4>
	<% @chamados.each do |chamado| %>
	<% if can? :update, chamado %>
	  <div>
	    <div><%= link_to chamado.assunto, admin_chamado_path(chamado) %> <small> <%= chamado.status -%></small></div>
	  </div>
	<% end %>
 <% end %>
</div>
<% end %>