<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title></title>
	   <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body>
   <div id="content">
      <%= yield %>
    </div>	
</body>
</html>
